<a href="https://colab.research.google.com/github/esweeney13/Hello_World/blob/main/Deliverable_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# Step (1): Importing Libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [10]:
# Step (2): Loading iris dataset
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
# Step(3): Dropping the "species" column
iris = iris.drop(labels = 'species', axis = 1)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [15]:
# Step (4) Adding Columns
iris['sepal_sum'] = iris['sepal_length'] + iris['sepal_width']
iris['petal_sum'] = iris['petal_length'] + iris['petal_width']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum  petal_sum
0           5.1          3.5           1.4          0.2        8.6        1.6
1           4.9          3.0           1.4          0.2        7.9        1.6
2           4.7          3.2           1.3          0.2        7.9        1.5
3           4.6          3.1           1.5          0.2        7.7        1.7
4           5.0          3.6           1.4          0.2        8.6        1.6

In [23]:
# Step(5)
mean = [np.mean(iris['sepal_length']),
        np.mean(iris['sepal_width']),
        np.mean(iris['sepal_sum']),
        np.mean(iris['petal_length']),
        np.mean(iris['petal_width'])]

mean = list(iris.mean())

summary_dict = {'mean':mean}

summary_af = pd.DataFrame(data = summary_dict)

summary_af

       mean
0  5.843333
1  3.057333
2  3.758000
3  1.199333
4  8.900667
5  4.957333

In [19]:
min = [np.min(iris['sepal_length']),
        np.min(iris['sepal_width']),
        np.min(iris['sepal_sum']),
        np.min(iris['petal_length']),
        np.min(iris['petal_width'])]

min = list(iris.min())

summary_dict = {'min':min}

summary_cf = pd.DataFrame(data = summary_dict)

summary_cf

   min
0  4.3
1  2.0
2  1.0
3  0.1
4  6.8
5  1.2

In [18]:
std = [np.std(iris['sepal_length']),
        np.std(iris['sepal_width']),
        np.std(iris['sepal_sum']),
        np.std(iris['petal_length']),
        np.std(iris['petal_width'])]

std = list(iris.std())

summary_dict = {'std':std}

summary_df = pd.DataFrame(data = summary_dict)

summary_df

        std
0  0.828066
1  0.435866
2  1.765298
3  0.762238
4  0.889272
5  2.507689

In [20]:
max = [np.max(iris['sepal_length']),
        np.max(iris['sepal_width']),
        np.max(iris['sepal_sum']),
        np.max(iris['petal_length']),
        np.max(iris['petal_width'])]

max = list(iris.max())

summary_dict = {'max':max}

summary_df = pd.DataFrame(data = summary_dict)

summary_df

    max
0   7.9
1   4.4
2   6.9
3   2.5
4  11.7
5   9.2